@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
	font-family: "Roboto", sans-serif;
}

.wrapper {
	padding: 100px 0 0 0;
}

.modal {
	background-color: #1c08ff;
	max-width: 250px;
	margin: 0 auto;
	padding: 15px 20px;
	color: #fff;
	text-align: center;
}

.modal__title {
	font-weight: 700;
	font-size: 20px;
	margin: 0 0 8px 0;
}

.modal__text {
	text-align: left;
}

input[type=text],
input[type=password] {
	display: block;
	width: 100%;
	font-size: 16px;
	padding: 5px 3px;
	margin: 3px 0 15px 0;
}

input[type=submit] {
	height: 30px;
	width: 100px;
	font-size: 16px;
	color: #1c08ff;
	line-height: 28px;
	background-color: #fff;
	cursor: pointer;
	border: 1px solid #fff;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

input[type=submit]:hover {
	background-color: #1c08ff;
	color: #fff;
}